<h3>Welcome,</h3>
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<form name="LoginForm">

<div class="form-group">
<input type="text" id="username" ng-model="username" placeholder="Username" class="form-control input-lg" style="font-size:20px;" required>
</div>
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<div class="form-group">
<input type="password" id="password" ng-model="password" placeholder="Password" class="form-control input-lg" style="font-size:20px;" required>
</div>

<!-- ################################################################################# -->
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<button type="button" ng-click="submit()" class="btn btn-primary" style="width:100%;height:50px;font-size:20px;">
Login
</button>

</form>
<!-- ################################################################################# -->
<!-- ################################################################################# -->
<!-- ################################################################################# -->