<!-- ###################################################################### -->
<!-- ###################################################################### -->
<!-- ###################################################################### -->
        <div class="modal-header">
            <h3 class="modal-title">Processing...</h3>
        </div>
<!-- ###################################################################### -->
<!-- ###################################################################### -->
<!-- ###################################################################### -->
        <div class="modal-body" style="font-size:20px;">

        
            <div id="DivSpinner" style="text-align:center;">
                <img ng-src="/web/media/loading.gif" />
            </div>
        
            

        </div>
<!-- ###################################################################### -->
<!-- ###################################################################### -->
<!-- ###################################################################### -->
        <div class="modal-footer">

        </div>
<!-- ###################################################################### -->
<!-- ###################################################################### -->
<!-- ###################################################################### -->