input.ng-invalid {
    /* background-color: lightblue; */
}

.btn-menu-size{
		width: 12.85%;
		height: 50px;
		font-size: 20px;
}

.ButtonSize{
    width: 30%;
    height: 50px;
    font-size: 20px;
}
	
.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.AppSelectPicker {
    border-color: #ccc;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}